body {
	color: white;
}

header {
	background-color: red;
	padding: 5px;
}

nav {
	background-color: orange;
	text-align: center;
	padding: 5px;
}

main {
	background-color: green;
	padding: 5px;
}

article {
	background-color: blue;
	padding: 5px;
	margin: 5px;
}

footer {
	background-color: purple;
	padding: 5px;
	text-align: center;
    font-size: 35px;
}

a {
	color: white;
	margin: 5px;
}

h1 {
	margin: 0;
	text-align: center;
}

h2 {
	margin: 10px 0;
}

ul, ol {
	margin: 0;
}